.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.6rem;
}
.header__heading {
  font-family: $MonoSpace;
  font-weight: 700;
  font-size: $text-xl;
  line-height: $line-xl;
}
