.light-switch {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.light-switch__text {
  font-family: $MonoSpace;
  font-weight: 700;
  font-size: $text-xs;
  line-height: $line-xs;
  letter-spacing: 0.25rem;
  color: $dark-blue;
}
.light-switch-button {
  cursor: pointer;
}
