* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.App {
  min-height: 100vh;
  background-color: $white-grey;
}
.app__wrapper {
  max-width: 73rem;
  padding: 3.1rem 2.4rem;
  margin: 0 auto;
}
.link--disabled {
  text-decoration: none;
  color: inherit;
  pointer-events: none;
  opacity: 0.4;
}
.dark-mode {
  color: $white !important;
  background-color: #141d2f !important;
}
