@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
$MonoSpace: "Space Mono", monospace;
$text-xl: 2.6rem;
$text-l: 2.2rem;
$text-m: 1.6rem;
$text-s: 1.5rem;
$text-xs: 1.3rem;

$line-xl: 3.8rem;
$line-l: 3.3rem;
$line-m: 2.5rem;
$line-s: 2.4rem;
$line-xs: 2rem;

$blue: #0079ff;
$grey: #697c9a;
$dark-blue: #4b6a9b;
$dark: #2b3442;
$white-grey: #f6f8ff;
$white: #fefefe;
